.car-pay_container {
}

.car-pay_header {
  padding: 2rem;
  height: 59.9rem;
  background-image: url("/img/slices/CarPay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 35%;
  background-position-y: 15%;
}

.car-pay_header_text {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.8rem;
}

.car-pay_header-carpay {
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 5.5rem;
  color: #282828;
  margin-left: 1rem;
}
.car-pay_header-carpay--car {
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 5.5rem;
  color: #282828;
}
.car-pay_header-carpay--pay {
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 5.5rem;
  color: #3cb339;
}

.car-pay_content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.car-pay_content_heading {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.6rem;
  text-align: center;
  color: #282828;
  margin: 2rem 0;
}

.car-pay_content_paragraph {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #282828;
  margin: 2rem 0;
}

.car-pay_content_footer-text {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.9rem;
  color: #000;
  margin: 2rem 0;
}

.car-pay_explainer-cards {
  padding: 2rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.car-pay_explainer-card {
  background: #f2f2f2;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.car-pay_explainer-card_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-pay_explainer-card_header_text {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.4rem;
  text-transform: uppercase;
  color: #282828;
}

.car-pay_explainer-card_paragraph {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3rem;
  text-align: center;
  color: #282828;
  opacity: 0.8;
}

.car-pay_kc {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.car-pay_signup {
  background-color: #282828;
  padding: 2rem;
}

.car-pay_signup_heading {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 6.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.car-pay_signup_paragraph {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #ffffff;
}

.car-pay_signup_form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
}

.car-pay_signup_form-label {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ffffff;
  margin-top: 2rem;
}

.car-pay_signup_form-input {
  border-radius: 0.5rem;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  padding: 1rem;
  color: #000000;
}

.car-pay_signup_form_checkboxes {
  display: flex;
  margin: 2rem 0;
}

.car-pay_signup_form_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.1rem;
  height: 5rem;
}

.car-pay_signup_form_textarea {
  height: 33.2rem;
  border-radius: 0.5rem;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #000000;
  padding: 1.5rem;
}

.car-pay_signup_form_file-upload {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: 3rem 0;
}

.car-pay_signup_form_file-upload input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.car-pay_signup_form_file-upload-button {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #282828;
  background: linear-gradient(180deg, #ffffff 0%, #dfdfdf 100%);
  border: 1px solid #a9a9a9;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.car-pay_signup_form_file-upload-button img {
  height: 2.3rem;
}

.car-pay_signup_form_button {
  background: #ff9d0b;
  border-radius: 0.5rem;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
  color: #ffffff;
  padding: 0.75rem;
  margin-bottom: 3rem;
}

.car-pay_contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 14rem;
}

.car-pay_contact h4 {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  color: #ffffff;
}

.car-pay_contact li {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  color: #ffffff;
}

.car-pay_contact li a {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3.5rem;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}

.car-pay_signup_form_checkbox--yes {
  position: relative;
  cursor: pointer;
  width: 7.1rem;
  height: 5rem;
}
.car-pay_signup_form_checkbox--yes label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(180deg, #ffffff 0%, #dfdfdf 100%);
  border: 1px solid #a9a9a9;
  border-radius: 0.5rem 0 0 0.5rem;
  transition: background 0.3s;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #000000;
}

.car-pay_signup_form_checkbox--yes input:checked + label {
  background: #3cb239;
  color: #fff;
}

.car-pay_signup_form_checkbox--no {
  position: relative;
  cursor: pointer;
  width: 7.1rem;
  height: 5rem;
}

.car-pay_signup_form_checkbox--no label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(180deg, #ffffff 0%, #dfdfdf 100%);
  border: 1px solid #a9a9a9;
  border-radius: 0 0.5rem 0.5rem 0;
  transition: background 0.3s;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #000000;
}

.car-pay_signup_form_checkbox--no input:checked + label {
  background: #fe0000;
  color: #fff;
}

@media (min-width: 1024px) {
  .car-pay_explainer-cards {
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .car-pay_explainer-card {
    background: #f2f2f2;
    border: 1px solid #cacaca;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    max-width: 24.6rem;
  }

  .car-pay_explainer-card_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #00000033;
    width: 100%;
    margin-bottom: 1rem;
  }

  .car-pay_explainer-card_header_text {
    font-family: "Akshar";
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3.4rem;
    text-transform: uppercase;
    color: #282828;
  }

  .car-pay_explainer-card_paragraph {
    font-family: "Akshar";
    font-style: normal;
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3rem;
    text-align: center;
    color: #282828;
    opacity: 0.8;
  }

  .car-pay_signup_form {
    max-width: 62rem;
    margin: 0 auto;
  }
}
