@tailwind base;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");

html {
  font-size: 10px;
  background-color: #657170;
}

.coming-soon {
  width: 100vw;
  height: 100vh;
  background: #657170;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon_text {
  font-size: 5.5rem;
  color: #fff;
}

.navBar {
  width: 100%;
  background-color: #282828;
  padding: 0.75rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.navBar-mobile-pane {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.navBar-pane {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.navBar-pane article {
  width: 100%;
  border-bottom: 1px solid #a5a5a5;
  padding: 1rem 0;
}

.navBar-pane a {
  padding-left: 2rem;
  color: #000;
  font-family: Akshar;
  font-size: 2.4rem;
  font-weight: 200;
}

.navBar-pane a:hover,
.navBar-pane a:active {
  color: #ff9d0b;
}

.navBar-icon-logo {
  display: flex;
  align-items: center;
}

.navBar-icon {
  display: block;
  margin-right: 0.25rem;
}

.navBar-icon span {
  display: block;
  margin: 0.5rem 0;
  height: 0.2rem;
  background-color: #fefefe;
  width: 2rem;
}

.navBar-logo {
  width: 9.895rem;
  height: 3rem;
}

.navBar-wideMenu {
  display: none;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #657170;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e5e5e5;
}

.hero-container {
  width: 100%;
  height: 37.1rem;
}

.hero {
  height: 40.1rem;
  background-image: url("../public/img/img_primary.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem 3rem 0 3rem;
}

.hero-header--title {
  font-size: 2.55rem;
  line-height: 2.3rem;
  color: #000;
  font-family: Akshar, "sans-serif";
  font-weight: 200;
  text-transform: uppercase;
}

.hero-header-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.hero-header--subtitle {
  font-size: 2.87rem;
  line-height: 4.5rem;
  color: #000;
  font-family: Akshar, "sans-serif";
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 2rem;
  text-shadow: 0.1rem 0.1rem 0.03rem rgba(0, 0, 0, 0.8);
}

.hero-header--logo {
  width: 12.7rem;
  height: 5.134rem;
}

.hero-images--text {
  padding: 0 1.5rem;
}

.hero-images--text-full {
  display: none;
}

.hero-newsletter {
  background-color: #282828;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-newsletter_heading {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  font-family: Akshar;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  text-align: center;
}

.hero-newsletter_subheading {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 200;
  font-family: Akshar;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  text-align: center;
  color: #ff9d0b;
}

.hero-social {
  background-color: #e5e5e5;
  transform: translateY(-9rem);
  width: 100%;
}

.divider {
  width: 100%;
}

.divider-box {
  background-color: #ff9d0b;
  color: #fff;
  height: 3.8rem;
  padding: 0.5rem 0 0 1rem;
  width: 100%;
}

.divider-box--header {
  text-transform: capitalize;
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 3.036rem;
  letter-spacing: 12%;
  font-family: Akshar, "san-serif";
  width: 100%;
  margin: 0;
}

.divider-box--subheader {
  visibility: hidden;
  text-transform: uppercase;
}

.rental-ready_container {
  background-color: #fff;
  color: #000;
}

.rental-ready_header {
  padding: 1rem;
}

.rental-ready_header_title-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rental-ready_header_title_icon {
  height: 6rem;
  margin-right: 2rem;
}

.rental-ready_header_title {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 5rem;
  line-height: 6.9rem;
  text-transform: uppercase;
  color: #282828;
  margin: 1.5rem 0;
}

.rental-ready_header_title--orange {
  color: #ff9d0b;
}

.rental-ready_paragraph {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #000000;
  opacity: 0.7;
}

.rental-ready_image-grid {
  display: grid;
  grid-auto-rows: 1fr;
  padding: 1rem;
  gap: 1rem;
}

.rental-ready_image-grid_image-box {
  position: relative;
  background-color: #000;
}

.rental-ready_image-grid_image-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.rental-ready_image-grid_image-banner {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.rental-ready_image-grid_image-banner_title {
  font-family: Akshar;
  font-weight: 300;
  font-size: 2.4rem;
  padding-left: 0.5rem;
}

.rental-ready_image-grid_image-banner_cost {
  font-family: "Gemunu Libre";
  font-weight: 900;
  font-size: 2.4rem;
  vertical-align: middle;
  padding: 0 1rem 0 2rem;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #ff9d0b;
}

.vote_container {
  background-color: #fff;
  padding: 2rem 1.5rem 12rem 1.5rem;
  position: relative;
}

.vote_header {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  color: #282828;
}

.vote_paragraph {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}

.vote_form {
  display: flex;
  flex-direction: column;
}

.vote_form_select {
  padding: 1rem;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
  color: #282828;
  background: #ffffff;
  border: 1px solid #a5a5a5;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.vote_form_input {
  padding: 1rem;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border: 1px solid #a5a5a5;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.vote_form_button {
  padding: 1rem;
  background-color: #ff9d0b;
  border: 1px solid #a5a5a5;
  border-radius: 0.5rem;
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.1rem;
  text-align: center;
  color: #ffffff;
}

.vote_kc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.rental-status_container {
  background-color: #1c1c1c;
  width: 100%;
}

.rental-status_header-container {
  background: #222;
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rental-status_header-container img {
  height: 7.8rem;
}

.rental-status_header {
  font-size: 3.5rem;
  font-weight: 100;
  font-family: Akshar;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
  line-height: 3.5rem;
  padding: 0.5rem 0;
}

.rental-status_subheader {
  font-size: 2.4rem;
  font-weight: 100;
  font-family: Akshar;
  text-transform: uppercase;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 0;
  opacity: 0.5;
  margin: 0.5rem 0;
}

.go-cars_container {
  background-color: #1c1c1c;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}

.go-cars_header-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-cars_header-container img {
  height: 11.3rem;
  margin-bottom: 1.5rem;
}

.go-cars_header {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Akshar;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}

.go-cars_header-container p {
  font-size: 2.4rem;
  font-family: Akshar;
  font-weight: 300;
  line-height: 3.5rem;
  letter-spacing: 0.03rem;
  color: #fff;
  opacity: 0.7;
  text-align: center;
}

.show-cars_container {
  background-color: #1c1c1c;
  width: 100%;
}

.show-cars_header-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-cars_header-container img {
  height: 11.3rem;
  margin-bottom: 1.5rem;
}

.show-cars_header {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Akshar;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
}

.show-cars_header-container p {
  font-size: 2.4rem;
  font-family: Akshar;
  font-weight: 300;
  line-height: 3.5rem;
  letter-spacing: 0.03rem;
  color: #fff;
  opacity: 0.7;
  text-align: center;
}

.rental-status_divider {
  background-color: #1c1c1c;
  border: 1px solid #fff;
  height: 1px;
  margin: 5rem auto;
  opacity: 0.3;
  width: 30.4rem;
}

.rental-status_card-container {
  background-color: #1c1c1c;
  display: grid;
  justify-content: center;
  padding-bottom: 4rem;
  grid-template-rows: 32rem 32rem 32rem;
  grid-template-columns: 35.3rem;
  grid-template-areas:
    "reverse"
    "neutral"
    "drive";
}

.rental-status_card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #282828;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
}

.reverse {
  grid-area-name: "reverse";
}
.neutral {
  grid-area-name: "neutral";
}
.drive {
  grid-area-name: "drive";
}

.rental-status_card img {
  width: auto;
}

.rental-status_card p {
  font-size: 1.9rem;
  font-family: Akshar;
  font-weight: 400;
  line-height: 3.5rem;
  letter-spacing: 0;
  color: #fff;
  opacity: 0.7;
  padding: 1rem;
}

.rental-status_card p span {
  font-size: 2.4rem;
  font-family: Akshar;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0;
  color: #fff;
  opacity: 0.7;
}

.our-story-container {
  background-color: rgb(103, 113, 112);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
}

.our-story {
  width: 100%;
  background-color: rgb(103, 113, 112);
}

.our-story-title {
  font-size: 4.5rem;
  font-family: Akshar, "sans-serif";
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.our-story-article--text {
  font-weight: 500;
  text-align: center;
  font-size: 2.6rem;
  font-family: Khand, "sans-serif";
  line-height: 4.2rem;
  letter-spacing: 0.03rem;
  padding-bottom: 1.5rem;
}

.our-story-button {
  background-color: #fff;
  border: 1px solid #a9a9a9;
  color: #282828;
  padding: 0.5rem;
  font-family: Akshar;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.subscribe-container {
  width: 100%;
  background-color: #e5e5e5;
}

.subscribe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282828;
  color: #fff;
  margin: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #ff9d0b;
  border-radius: 0.5rem;
}

.subscribe-card-title {
  font-family: "Gemunu Libre";
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 3.794rem;
  text-align: center;
  color: #fff;
}

.subscribe-card-subtitle {
  font-family: Khand;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  letter-spacing: 0.03rem;
  color: #fff;
  opacity: 0.6;
  padding: 1rem 0;
}

.subscribe-card-form {
  width: 100%;
  padding: 1rem 0;
}

.subscribe-card-social {
  width: 100%;
  padding: 1rem 0;
}

.newsletter-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.newsletter-signup-email {
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #282828;
  text-align: center;
  background-color: #fff;
  height: 4rem;
}

.newsletter-signup-email--disabled {
  opacity: 0.7;
}
.newsletter-signup-email--success {
  color: #3cb239;
  border: 3px solid #30a13b;
}
.newsletter-signup-email--error {
  color: #fe0000;
  border: 3px solid #c90000;
}

.newsletter-signup-button {
  text-transform: uppercase;
  font-style: normal;
  color: #fff;
  background-color: #ff9d0b;
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.newsletter-signup-button--disabled:hover {
  background: #ff9b0b;
  opacity: 0.7;
}

.newsletter-signup-email--alt--disabled {
  display: none;
}

.newsletter-signup-email--alt {
  display: none;
}

.footer {
  width: 100%;
  background-color: #282828;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icon-logo {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 9.895rem;
  height: 3rem;
}

.footer-social {
  padding: 0 2rem;
}

/* Our Story Page */
/* FAQ Page */
.faq-container {
  background-color: #657170;
}

.faq_header-text {
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 4rem;
  text-align: center;
  color: #fff;
}

.faq_header-subtext {
  font-family: "Khand";
  font-style: normal;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.5rem;
  text-align: center;
  color: #fff;
}

.faq_header-image {
  mix-blend-mode: multiply;
}

.faq_list-item_container {
  background-color: #fff;
}

.faq_list-item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.faq_list-item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq_list-item_title {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.3rem;
  color: #000;
}

.faq_list-item_arrow {
  height: 1rem;
  transition: all ease-in-out 500ms;
}

.faq_list-item_arrow--open {
  transform: rotateX(180deg);
  transition: all ease-in-out 500ms;
}

.faq_list-item_content {
  transform: scale(0);
  opacity: 0;
  max-height: 0;
  transition: all ease-in-out 0.4s;
}

.faq_list-item_content--open {
  transform: scale(1);
  opacity: 1;
  max-height: 500rem;
  transition: all ease-in-out 0.4s;
}

.faq_list-item_content-text {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  margin: 0.75rem 0;
  color: #000;
}

.faq_list-item_content-text_list {
  list-style-type: disc;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.7rem;
  padding-left: 3rem;
}
/* CONTACT PAGE */
.getInTouch-container {
  width: 100%;
}

.nav-subheader {
  height: 4rem;
  width: 100%;
  background: #ff9d0b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-subheader--text {
  font-family: "Akshar";
  font-style: normal;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
}

.getInTouch {
  padding: 0.4rem 2rem 10.6rem 2rem;
  background-image: url("/img/ContactBkgd.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-color: #657170;
}

.getInTouch-title {
  font-family: Akshar;
  font-weight: 500;
  line-height: 7.59rem;
  letter-spacing: 0.03rem;
  font-size: 5.5rem;
  text-transform: uppercase;
  color: #fff;
}

.getInTouch-logo {
  filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.25));
}

.getInTouch-subtitle {
  font-family: Khand;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.9rem;
  letter-spacing: 0;
  color: #fff;
}

.getInTouch-paragraph {
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 3.5rem;
  color: #fff;
}

.getInTouch-paragraph--contact {
  font-weight: 500;
}

.getInTouch-paragraph-questions {
  margin-bottom: 2rem;
}

.getInTouch-social {
  padding-top: 4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getInTouch-social_text {
  font-family: "Gemunu Libre";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.6rem;
  padding-bottom: 2rem;
}

.getInTouch-contactForm {
  width: 100%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.contactForm-name {
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.484rem;
  margin: 1rem 0;
  padding: 1rem;
  color: #000;
  border: 1px solid #636363;
}

.contactForm-email {
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.484rem;
  margin: 1rem 0;
  padding: 1rem;
  color: #000;
  border: 1px solid #636363;
}

.contactForm-message {
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.484rem;
  margin: 1rem 0;
  padding: 1rem;
  height: 24.3rem;
  color: #000;
  border: 1px solid #636363;
}

.contactForm-message--success {
  color: #3cb239;
}

.contactForm-button--success {
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 1rem;
  background-color: #767676;
  border: 1px solid #282828;
  color: #fff;
}

.contactForm-button {
  border-radius: 0.5rem;
  font-family: Akshar;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #ff9d0b;
  padding: 1rem;
}

.contactForm-successMessage {
  font-size: 2.2rem;
  color: #ff9d0b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.contactForm-errorMessage {
  font-size: 2.2rem;
  color: red;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.contactForm-errorText {
  color: red;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 1.7rem;
}

.contactForm-input--error {
  border: 2px solid red;
}

@media (min-width: 440px) {
  .hero-images--camaro {
    transform: translateY(-10rem);
  }

  .hero-social {
    transform: translateY(-10rem);
  }
}

/* ***** Small Breakpoint ***** */
@media (min-width: 640px) {
  .hero-header--title {
    font-size: 4.5rem;
  }
  .hero-header--subtitle {
    font-size: 4.5rem;
  }
  .hero-images--camaro-box {
    margin-bottom: -13rem;
  }

  .hero-images--camaro {
    transform: translateY(-15rem);
  }

  .hero-social {
    transform: translateY(-15rem);
  }
}

@media (min-width: 768px) {
  .hero-header {
    padding-left: 12rem;
  }

  .hero-header-sub {
    flex-direction: row;
    align-items: center;
  }

  .divider-box--header {
    display: none;
  }

  .divider-box--subheader {
    visibility: visible;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3.036rem;
    letter-spacing: 12%;
    font-family: Akshar, "san-serif";
    width: 100%;
    margin: 0;
  }

  .gallery-paragraph {
    font-family: Manrope, "sans-serif";
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    color: #657170;
    display: block;
  }

  .newsletter-signup-email {
    display: none;
  }

  .newsletter-signup-email--alt {
    display: block;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    font-family: Akshar;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #282828;
    text-align: center;
    background-color: #fff;
  }

  .newsletter-signup-email--disabled {
    display: none;
  }

  .newsletter-signup-email--alt--disabled {
    opacity: 0.7;
  }

  .getInTouch-social {
    display: block;
  }
}

@media (min-width: 1024px) {
  .gallery-container {
    width: 100vw;
  }

  .gallery {
    max-width: 1024px;
    margin: 0 auto;
  }

  .navBar {
    width: 100%;
  }

  .navBar-mobile-pane {
    display: none;
  }

  .navBar-icon {
    display: none;
  }

  .navBar-icon span {
    display: none;
  }

  .navBar-text {
    display: none;
  }

  .navBar-wideMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navBar-wideMenu a,
  .navBar-wideMenu span {
    margin: 0 0.5rem;
    font-family: Akshar, "sans-serif";
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 3.036rem;
    opacity: 0.5;
  }

  .hero-container {
    max-width: 100%;
    background-color: #657170;
  }

  .hero {
    max-width: 1024px;
    margin: 0 auto;
  }

  .hero-header {
    padding-left: 20rem;
  }

  .hero-social {
    background-color: #e5e5e5;
    transform: translateY(-9rem);
    width: 100%;
  }

  .newsletter-signup {
    display: flex;
    flex-direction: row;
    width: 75.4rem;
  }

  .newsletter-signup-email--alt {
    width: 61.2rem;
    height: 4rem;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .newsletter-signup-button {
    width: 14.2rem;
    height: 4rem;
    font-size: 2rem;
    padding: 0 1.5rem;
    line-height: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .newsletter-signup-button:hover {
    background-color: #282828;
    border: 1px solid #ff9b0b;
  }

  .newsletter-signup-button--disabled {
    opacity: 0.7;
  }

  .newsletter-signup-email--disabled {
    display: none;
  }

  .newsletter-signup-button--disabled:hover {
    background: #282828;
  }

  .hero-images--camaro-box {
    background: #e5e5e5;
    margin-bottom: -25rem;
    display: flex;
  }

  .hero-images--camaro {
    transform: translateY(-22rem) translateX(22rem);
    max-width: 80rem;
  }

  .hero-social {
    background-color: transparent;
    width: 100%;
    text-align: left;
    place-self: flex-end;
    justify-self: flex-start;
    transform: translateY(-28rem) translateX(-77rem);
  }

  .divider {
    /* width: 100%; */
    max-width: 1024px;
  }

  .divider-box {
    background-color: #ff9d0b;
    color: #fff;
    height: 3.8rem;
    padding: 0.5rem 0 0 1rem;
    clip-path: polygon(0 0, 85% 0%, 80% 100%, 0 100%);
  }

  .divider-box--header {
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3.036rem;
    letter-spacing: 12%;
    font-family: Akshar, "san-serif";
    width: 100%;
    margin: 0;
  }

  .divider-box--subheader {
    display: block;
    font-family: Akshar, "sans-serif";
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
  }

  .gallery {
    padding: 2rem;
  }

  .gallery-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .gallery-header--title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .gallery-header-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .gallery-header--title h2 {
    font-size: 4.2rem;
    line-height: 5.796rem;
    text-transform: uppercase;
    font-family: Akshar, "sans-serif";
    font-weight: 200;
    margin-right: 1rem;
  }

  .gallery-paragraph {
    display: block;
  }

  .gallery-carousel-footer-text {
    font-size: 2rem;
    font-weight: 600;
  }

  .gallery-carousel-footer-text--price {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .gallery-social {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .our-story-container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .our-story-outer {
    width: 100vw;
    background-color: #657170;
  }

  .our-story-divider {
    width: 100%;
  }

  .our-story-divider .divider-box {
    margin-left: 0;
    padding-left: 3rem;
    text-align: left;
  }

  .our-story-kc {
    display: block;
    position: absolute;
    right: 0;
    z-index: 50;
    bottom: -3.9rem;
    width: 17%;
  }

  .about-outer {
    width: 100vw;
    background-color: #fff;
  }

  .about-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding-top: 1.5rem;
  }

  .about-secondContainer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding-top: 1.5rem;
    align-items: flex-end;
  }

  .about-start_your_engines {
    margin-left: 2rem;
  }

  .about-theRoad {
    margin-right: 20rem;
    transform: translateY(2rem);
  }

  .about-start_your_engines-paragraph {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-theRoad-paragraph {
    display: flex;
    flex-direction: row;
  }

  .about-start_your_engines-paragraph-image {
    width: 50%;
    flex-grow: 2;
  }
  .about-start_your_engines-paragraph-text {
    width: 45%;
    flex-shrink: 1;
  }

  .about-theRoad-paragraph-image {
    width: 50%;
    flex-grow: 2;
  }
  .about-theRoad-paragraph-text {
    width: 45%;
    flex-shrink: 1;
  }

  .about-start_your_engines {
    display: flex;
    padding-left: 1.5rem;
  }

  .subscribe-container {
    width: 100vw;
  }

  .subscribe-card {
    max-width: 1024px;
    margin: 1.5rem auto;
  }

  .subscribe-card-form {
    display: flex;
    justify-content: center;
  }

  .subscribe-card-form button {
    background-color: #ff9d0b;
  }

  .getInTouch-container {
    width: 100vw;
    background-color: #657170;
  }

  .getInTouch {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0.4rem 7rem 20.6rem 10rem;
    background-position: top;
  }

  .getInTouch-title {
    text-align: center;
  }

  .contactForm-button {
    border-radius: 0.5rem;
    font-family: Akshar;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #ff9d0b;
    padding: 1rem;
    width: 50%;
  }
}

@media (min-width: 1203px) {
  .main {
  }
}
